[Unit]
Description=sample systemd unit for mpvkiosk

[Service]
User=pi
ExecStart=jakserver -x /var/www/handler.sh
ExecStop=kill -2 `pgrep -fx 'jakserver -x /var/www/handler.sh'`
StandardOutput=journal
#Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=multi-user.target
